:root {
	--username: #444b5d;
	--tag: #2b90d9;
	--link: #217aba;
	--showmore: #d9e1e8;
	--showmore-text: black;
}
@media (prefers-color-scheme: dark) {
	:root {
		--username: #606984;
		--tag: #d9e1e8;
		--link: #4ea2df;
		--showmore: #606984;
		--showmore-text: #282c37;
	}
}

.post {
	margin: 4px;
	padding: 4px;
}
.post:not(:last-child) {
	border-bottom: 1px solid var(--border-color);
}
.post-main-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.post avatar {
	flex-grow: 0;
}

.post-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

.post-header .displayname {
	font-size: 12pt;
	margin: 0px;
}
.post-header .username {
	font-size: 10pt;
	margin: 0px;
	margin-left: 4px;
	font-weight: normal;
	color: var(--username);
}

.post-main {
	flex-grow: 1;
}
.post p:first-child {
	margin-top: 0;
}
.post p:last-child {
	margin-bottom: 0;
}
.post a {
	color: var(--link);
}
.post .mention {
	color: var(--tag);
}
.post .metadata {
	display: block;
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 10pt;
	color: var(--fg);
}
.post .metadata a {
	color: inherit;
}

/* grayscale privacy icons */
.post .privacy {
	/* filter: grayscale(100%); */
	color: transparent;
	text-shadow: 0 0 0 var(--fg);
}

.post .show-more {
	padding: 2px 6px;
	border: none;
	border-radius: 2px;
	background-color: var(--showmore);
	color: var(--showmore-text);
	font-size: 9pt;
	font-family: inherit;
	font-weight: bold;
	text-transform: uppercase;
}
.post .show-more:hover {
	filter: brightness(90%);
}
.post .show-more:active {
	filter: brightness(80%);
}
