:root {
	--fg: #000000;
	--bg: #eff3f5;
	--post-bg: #ffffff;
	--border-color: #c0cdd9;
}
@media (prefers-color-scheme: dark) {
	:root {
		--fg: #ffffff;
		--bg: #191b22;
		--post-bg: #282c37;
		--border-color: #606984;
	}
}

body {
	color: var(--fg);
	background-color: var(--bg);
}

#account-container, #posts-container {
	background-color: var(--post-bg);
	padding: 16px;
	border-radius: 8px;
}
#account-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
@media (prefers-color-scheme: light) {
	#account-container, #posts-container {
		border: 1px solid var(--border-color);
	}
}
.avatar {
	width: 48px;
	height: 48px;
	border-radius: 4px;
	margin-right: 8px;
}
#account-container > div { /* names container */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
#displayname {
	font-size: 16pt;
	margin: 0px;
}
#username {
	font-size: 12pt;
	margin: 0px;
	color: var(--username);
}

#posts-container {
	margin-top: 8px;
}

.loadbutton {
	background-color: var(--showmore);
	color: var(--fg);
	border: 1px solid var(--border-color);
	padding: 4px 8px;
	border-radius: 2px;
}
.loadbutton:hover {
	filter: brightness(90%);
}
.loadbutton:active {
	filter: brightness(80%);
}
